<header class="page-header">
  <h1 class="page-title">
    MuseLab Video Wall
  </h1>
</header>

<div id="video-container">

</div>
<% @videos.each do |video| %>
  <% if video.source == "youtube" %>
    <div id="video-<%= video.embed_id %>" class="video-float-box" data-embed-id="<%= video.embed_id %>"></div>
  <% elsif video.source == "vimeo" %>
  <div id="video-<%= video.title %>" class="video-float-box">
    <video></video>
  </div>
  <% else %>
  <% end %>
<% end %>
